body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(241, 236, 236);
    
    
}
.container{
    margin: 0 auto;
    padding: 1rem;
    max-width: 25vw;
    min-height: 250px;
    background-color: rgb(115, 115, 121);
}

input{
    box-sizing: border-box;
    width: 90%;
    height: 5vh;
    padding: 5px;
    display: block;
    margin: 0 auto;
    font-size: 100%;
}
input:focus{
    border: none;
}
button{
    background-color: rgb(241, 236, 236);
    color: black;
    min-width: 4vw;
    min-height: 3vw;
    font-size: 80%;
}

.grid{
    padding-top: 5vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 1vw;
}

.delbtn{
    grid-column-start: 1;
    grid-column-end: 3;
}
.clear{
    grid-column-start: 3;
    grid-column-end: 5;   
}

@media screen and (max-width:680px){
    .container{
        min-width: 40vw;
    }
}

@media screen and (max-width:350px){
    .container{
        min-width: 40vw;
        padding: 0.5rem;
    }
}