body{
    background-color: rgb(241, 236, 236);
}
.container{
    position:absolute;
    top: 15vh;
    left: 30vw;
    padding: 5vh;
    width: 25vw;
    height: 60vh;
    /*border: 2px solid blue;*/
    background-color: rgb(115, 115, 121);
}

input{
    width: 20vw;
    height: 5vh;
    padding: 5px;
    position: relative;
    left: 1.5vw;
    font-size: 100%;
}
input:focus{
    border: none;
}
button{
    background-color: rgb(241, 236, 236);
    color: black;
    width: 5vw;
    height: 4vw;
    /*color: white;*/
}
.grid{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 1vw;
}
.clear{
    width: 11.5vw;
    grid-column-start: 1;
    grid-column-end: 3;
}
.delbtn{
    width: 11.5vw;
    grid-column-start: 3;
    grid-column-end: 5;   
}
