.container{
    position:absolute;
    top: 10vh;
    left: 30vw;
    padding: 5vh;
    width: 25vw;
    height: 50vh;
    border: 2px solid blue;
}

input{
    padding: 5px;
}
button{
    width: 5vw;
    height: 4vw;
}
.grid{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 1vw;
}